
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
==================
END OF RESET
==================
*/

*, a{
    font-family: Arial;
}
html{
    width:100vw;
    min-width: 900px;
    overflow: scroll;
}
button{
    appearance: none;
}
/*
================
HEADER
================
*/
.top{
    border: 1px solid transparent;
    height: 90px;
    display: flex;
    align-items: center;
}
/* Google logo*/
.top img{
    margin: 25px;
    width: 100px;
}
/* Search bar */
#search-box{
    border: 1px solid transparent;
    display: inline-block;
    position: absolute;
    left: 140px;
    height: 48px;
}
#search{
    box-sizing: border-box;
    height: 45px;
    width: 600px;
    border: 1px solid #dddddd;
    border-radius: 50px;
    padding-left: 20px;
    font-size: 15.5px;
}
#search:focus , #search:hover{
    outline: none;
    box-shadow: 0px 0px 5px #dddddd;
}
#reset{
    visibility: visible;
    transition-delay: 0.1s;
    background-color: transparent;
    position: absolute;
    right:88px;
    top: 8px;
    background-image: url(./img/close-icon.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 0px 0px;
    padding-left: 30px;
    width: 25px;
    height: 25px;
    border: solid 1px;
    border-color:transparent #dddddd transparent transparent;
}
/*microphone*/
#mic{
    width: 13px;
}
#tooltip{
    position: absolute;
    top: 12px;
    right: 58px;
    width: 13px;
    height: 23px;
}
#tooltip-text{
    visibility: hidden;
    z-index: 1;
    font-family: arial;
    font-size: 11px;
    color: #FFFFFF;
    background-color: #333333;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 40px;
    right: -43px;
    width: 85px;
    padding: 7px 8px;  
}
#tooltip-text::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border: solid 5px;
    border-color: transparent transparent#333333 transparent;
    margin-left: -5px;
}
#tooltip:hover #tooltip-text, #tooltip:active #tootltip-text{
      visibility: visible;
}
input[type="submit"]{
    position: absolute;
    top:7px;
    right: 12px;
    background-image: url(img/search.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: transparent;
    border-color: transparent;
    width: 30px;
    height: 30px;
}
.top ul{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: 765px;
    width: calc(100vw - 770px);
    min-width: 130px;
}
.top li button{
    margin-right: 15px;
    background-color: transparent;
    border: transparent;
    opacity: 0.5;
}
.top li button:hover{
    opacity: 0.7
}
/* profile */
#profile input{
    margin-right: 30px;
    width: 40px;
}
#message{
    z-index: 1;
    width: 120px;
    position: absolute;
    top: 50px;
    right: 25px;
    font-family: Arial;
    font-style: italic;
    color: #ffffff;
    font-size: 12px;
    background-image: linear-gradient(to bottom left, #aa4b6b, #6b6b83, #3b8d99 );
    line-height: 18px;
    padding: 8px;
    border-radius: 5px;
    text-align: right;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
#message::after{   
    content: "";
    border: solid 8px;
    border-color: transparent transparent #aa4b6b transparent;
    position: absolute;
    top: -15px;
    right: 17px;
}
#profile:hover + #message, #profile:active +#message{
    opacity: 1;
}
/* Search Modes */
header nav{
    border-bottom: 1px solid #dddddd;
    margin-top: -5px;
}
header ul:first-child{
    margin-left: 150px;
}
header nav a:link, header nav a:visited{
    text-decoration: none;
    color: #555555;
}
header nav ul{
    display: inline-block;
    margin-right: 25px;
}
header nav li{
    display: inline-block;
    font-size: 12px;
    padding: 0 8px;
}
header nav img{
    height: 18px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}
#all{
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: #0084ff solid 3px;
}
#all a:link , #all a:visited{
    color:#0084ff;
}
/* more dropdown */
.more{
    display: inline-block;
    height: 30px;
}
#dropdown ul{
    visibility: hidden;
    position: absolute;
    left:350px;
    top:115px;
    width: 90px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #dddddd;
}
#dropdown li{
    display: block;
    padding: 3px 5px 8px 8px;
}
.more:hover #dropdown ul , .more:active #dropdown ul{
    visibility: visible;
}
#dropdown li:hover{
    background-color:#eaeaea;
}
/*the tools button */
#tools{
    border: 1px solid transparent;
    padding: 6px 12px;
}
#tools:hover{
    border: 1px solid #bbbbbb;
    background-image: linear-gradient(#f1f1f1,#fafafa);
    border-radius: 2px;
    box-shadow: 0px 0px 2px #dddddd;
}
header .right {
    position: relative;
    margin-right: 30px;
    top: 8px;
    float: right;
}
/*
================
MAIN BODY
================
*/
main{
    margin: 0 0 0 160px;
    width: 565px;
}
#speed-info{
    margin-top: 15px;
}
.border{
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
}
#rec p{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: #000000;
}
#rec + div{
    font-size: 12px;
    margin-top: -30px;
    float: right;
}
#rec + div img{
    width: 15px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
#rec + div a:link, #rec + div a:visited{
    color:#888888;
    margin-left: 10px;
}
#rec + div a:hover{
    text-decoration: underline;
}
main p{
    display: inline-block;
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    color: #555555;
    line-height: 22px;
}
main p strong{
    font-weight: bold;
}
main time{
    display: inline-block;
    font-size: 15px;
    color: #777777;
}
/* links */
main a:link{
    text-decoration: none;
}
main a span{
    color: #888888;
    font-size: 14px;
    text-decoration: none;
}
main a span:first-of-type{
    color:#555555;
}
main a span:last-of-type::after{
    content:"";
    border: 4px solid;
    border-color: #bbbbbb transparent transparent transparent;
    position: relative;
    top: 10px;
    left: 4px;
}
main a h2{
    font-size:20px;
    color: #1111aa;
    margin-top: 8px;
}
main a h2:hover{
    text-decoration: underline;
}

section, article{
    margin: 30px 0
}




  /*
================
FOOTER
================
*/

footer{
    /*border-top: 1px solid #bbbbbb;*/
    width:100%;
    background-color: #efefef;
    border-top: #dddddd solid 1px;
    display:flex;
    flex-direction: column;
}

#location{
    float:left;
    font-family: Arial;
    color: #888888;
    font-size: 15px;
    padding: 12px;
    margin-left: 10px;
}

footer nav{
    overflow: hidden;
    background-color: #efefef;
    border-top: 1px solid #dddddd;

}

footer nav ul li{
    display: inline-block;
    box-sizing: border-box;
    margin: 10px 10px;
    font-size: 14px;
}

footer nav a{
    font-family: Arial;
    color: #666666
}

.left{
    clear: left;
    float: left;
    margin-left: 10px;
}

.right{
    clear: right;
    float: right;
}